/*$$$$$$Defaults$$$$$$*/
label{
  display: block;
}
*{
  box-sizing: border-box;
}
body{
  background-color: lightgray;
  line-height: 1;
  margin: 0;
}

.container{
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after{
  display: table;
  clear: both;
  content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

p{
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;
  padding: 15px;
  clear: both;
  font-size: 18px;
  color: white;
  text-align: left;
}


/*$$$$$$$$Custom Styles$$$$$$$*/
h1{
  text-align: center;
}

label.l1{
  float: right;
  padding: 5px;
  background-color: green;
  top: 0;
  right: 0;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

label.l2{
  top: 0;
  right: 0;
  position: relative;
  float: right;
  padding: 5px;
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
}

label.l3{
  top: 0;
  bottom: 0;
  position: relative;
  float: right;
  padding: 5px;
  background-color: red;
  font-size: 20px;
  font-weight: bold;
}


div.box{
  margin: 24px;
  padding: 0;
  text-align: center;
  background-color: gray;
}


/*########Media Queries############*/

@media(min-width: 768px) and (max-width: 991px){
  .col-md{
    width: 50%;
    margin: 0;
  }
  .col-ex{
    width: 100%;
    margin: 0;
  }
}


@media (max-width: 767px){
  .col-sm{
    width: 100%;
    margin: 0;
  }
}




